@model List<BarbaraDoces.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
    }

    th {
        /*background-color: #4CAF50;*/
        background-color: saddlebrown;
        text-align: center;
        color: white;
        /*width: 20%;*/
        border-bottom: 1px solid #ddd;
    }

    td {
        /*width: 80%;*/
    }

    .tamanho-foto {
        height: auto;
        max-width: 150px;
    }

    .borda-abaixo {
        border-bottom: 1px solid #ddd;
    }

    .segcor-tab {
        background-color: #f2f2f2;
        color: maroon;
    }

    .dt-divulgacao {
        width: 100px;
        font-size: 10px;
        color: #808080;
        padding-top: 60px;
    }

    .obs-site {
        font-size: 12px;
    }

    .des-produtos {
        color: #0094ff;
        font-size: 12px;
    }
</style>

<h1>Lista de Produtos</h1>
@if (Model is null)
{
    <h4 style="color:red"><span>Produtos não encontrados, tente novamente.</span></h4>
}
else
{
    if (Model.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th width="10%">Produto </th>
                    <th width="70%">Descrição </th>
                    <th colspan="2" />
                </tr>
            </thead>
            <tbody>
                @foreach (var iLstProdutos in Model)
                {
                    <tr>
                        <td colspan="4"><h3>@Html.DisplayFor(modelItem => iLstProdutos.Nome_Produto)</h3></td>
                    </tr>
                    <tr>
                        <td><img src="../Content/bolo-chocolate-com-doce-de-leite.jpg" title="Bolo de Chocolate" alt="Bolo de Chocolate" class="tamanho-foto" /></td>
                        <td width="70%" colspan="2" rowspan="2">
                            @Html.DisplayFor(modelItem => iLstProdutos.Desc_Produto)<br /><br />
                            <span style="float:right">@Html.ActionLink("Mais Detalhes", "Paes_de_mel", "Produtos", new { id = iLstProdutos.Id_Produto }, null)</span><br />
                            <table>
                                <tr>
                                    <td><b>Sabores disponíveis:</b> <p class="des-produtos">@Html.DisplayFor(modelItem => iLstProdutos.Sabor.Desc_Sabor)</p></td>
                                </tr>
                                <tr>
                                    <td><b>Validade dos produtos:</b> <p class="des-produtos">@Html.DisplayFor(modelItem => iLstProdutos.Vali_Produto)</p></td>
                                </tr>
                                <tr>
                                    <td><b>Valores:</b> <p class="des-produtos">@Html.DisplayFor(modelItem => iLstProdutos.Preco.Valor_Produto)</p></td>
                                </tr>
                                <tr>
                                    <td><b>Tipo de produto:</b> <p class="des-produtos">@Html.DisplayFor(modelItem => iLstProdutos.TipoProduto)</p></td>
                                </tr>
                            </table>
                        </td>
                        <td/>
                    </tr>
                    <tr />

                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="obs-site"><b>Atenção: </b>Preços, condições e correção de erros de digitação podendo sofrer alterações sem prévia notificação.</td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <h4 style="color:red"><span>Produtos não encontrados, tente novamente.</span></h4>
    }
}